@model IEnumerable<Car>

@{
    ViewData["Title"] = "List of Cars";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12" >
                        <div class="card-header text-white bg-info"  style="background-color: #E54718 !important">
                            <p class="card-text"  style="background-color: #E54718">
                                <h5 class="card-title">
                                    @item.Model
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.PictureOfCar" width="100%" alt="@item.Model">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Model: </b>@item.Model</p>
                            <p class="card-text"><b>Brand:</b>@item.Brand.Name</p>
                            <p class="card-text"><b>Category:</b>@item.Category.Name</p>
                            <p class="card-text"><b>Color:</b>@item.Color</p>
                            <p class="card-text"><b>Price: </b>@item.Price</p>
                            <p class="card-text"><b>Power: </b>@item.Power</p>
                            <p class="card-text"><b>Year: </b>@item.Year</p>


                        </div>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right" asp-area="" asp-controller="Car" asp-action="Update" asp-route-id="@item.Id" style="background-color: #E54718; color: white;">Update Car</a>
                                    <a class="btn btn-outline-primary float-right" asp-area="" asp-controller="Car" asp-action="Delete" asp-route-id="@item.Id" style="background-color: #E54718; color: white;">Delete Car</a>

                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
